# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Entorno virtual
venv/
env/

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Migrations compiladas
*/migrations/*.pyc
